---
import { ButtonLink } from '@inialum/memories-react'
import { Image } from 'astro:assets'

import { INIALUM_ENTRY_FORM_LINK } from '@/constants/links'

import styles from './BottomPanel.module.css'

import streetImage from '@/assets/images/common/akabanedai_street.jpg'

---

<div class={styles.bottomPanel}>
  <div class={styles.entryFormPanel}>
    <div class={styles.entryFormPanelContent}>
      <div class={styles.streetImage}>
        <Image
          src={streetImage}
          alt="INIALUM - INIAD Alumni Meetings"
          quality="low"
        />
      </div>
      <div class={styles.copy}>
        <p>さあ、あなたも、ともに歩んだ仲間と</p>
        <p class={styles.copySecondLine}>
          もう一度<span class={styles.copyStrong}>"連携"</span>しませんか？
        </p>
      </div>
      <div class={styles.entryFormLink}>
        <ButtonLink
          href={INIALUM_ENTRY_FORM_LINK}
          colorTheme="white"
          size="fullWidth"
          className={styles.entryFormLinkButton}
        >
          入会する
        </ButtonLink>
      </div>
    </div>
  </div>
  <div class={styles.linksPanel}>
    <ButtonLink
      href="https://inialum.notion.site/INIALUM-Q-A-0cfb2bd4cc814df6a29ca5aa7f9ad9b7"
      target="_blank"
      colorTheme="primary"
      styleType="outlined"
      size="fullWidth"
      className={styles.faqLinkButton}
    >
      Q&A
    </ButtonLink>
    <ButtonLink
      href="https://inialum.notion.site/364837260baa4486888554a2ea7666c6"
      target="_blank"
      colorTheme="primary"
      styleType="outlined"
      size="fullWidth"
      className={styles.contactLinkButton}
    >
      お問い合わせ
    </ButtonLink>
  </div>
</div>
